/* Mhele board css */

body {
    font-family: 'Press Start 2P', cursive;
    min-width: 750px;
    margin-top: 7%;
    color: #000000e3;
}


/*  Navigation */

.navbar-brand {
    color: #000000e3;
}

ul.nav.navbar-nav.navbar-right {
    color: #000000e3;
}

.navbar-collapse {
    background-color: #d47b06;
}

.blink-title {
    animation: blink-title 0.3s 3;
}


@-webkit-keyframes blink-title {

    0%,

    50% {
        color: rgb(97, 240, 40);
    }
}

/* .navbar-default .navbar-nav>li>a>i.fa-twitter {
    color: #d47b06;
}

.navbar-default .navbar-nav>li>a>i.fa-github {
    color: #242121;
}


.container {
    bottom: 100%;
} */

/* Board */

@media screen and (min-width: 992px) {
    .game-wrapper {
        height: 400px;
        width: 400px;
    }

    /*   .outer-box {
        height: 400px;
        width: 400px;
    } */
}



.rec-outer {
    border-width: 5px;
    border-color: #000000e3;
    height: 455px;
    width: 455px;
    top: 20px;
    border-style: solid;
    box-sizing: border-box;
    position: absolute;
    background:
        linear-gradient(to top left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(50% - 2.8px),
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 0) calc(50% + 2.8px),
            rgba(0, 0, 0, 0) 100%),
        linear-gradient(to top right,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(50% - 2.8px),
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 0) calc(50% + 2.8px),
            rgba(0, 0, 0, 0) 100%);



}

.rec-middle {
    border-width: 5px;
    border-color: #000000e3;
    border-style: solid;
    width: 63%;
    height: 63%;
    position: relative;
    margin: auto;
    top: 19%;
    box-sizing: border-box;
}

.rec-inner {
    border-width: 5px;
    border-color: #000000e3;
    border-style: solid;
    width: 48%;
    height: 48%;
    position: relative;
    margin: auto;
    margin-top: 24%;
    box-sizing: border-box;
    background-color: rgb(197, 125, 66);

}

/*game-container*/

.game-wrapper {
    height: 455px;
    width: 455px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;

}



/* .pins {
    clear: both;
    padding-top: 20px;
} */

/* input node*/


.node {
    position: absolute;
    border-radius: 50%;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    background: #cac7c7;
}

.node:hover {
    cursor: pointer;
}


#node-1,
#node-7 {
    top: -14px;
    left: -15px;
}

#node-4 {
    top: -18px;
    left: -12px;
}

#node-2 {
    left: 47.8%;
    top: -17px;
}

#node-5 {
    left: 46.5%;
    top: -17px;
}

#node-3 {
    left: 97.5%;
    top: -17px;
}

#node-6 {
    left: 95%;
    top: -18px;
}

#node-8 {
    left: 42%;
    top: -18px;
}

#node-9 {
    left: 89%;
    top: -15px;
}

#node-10 {
    left: -16px;
    top: 47%;
}

#node-11 {
    left: -17px;
    top: 44%;
}

#node-12 {
    left: -18px;
    top: 40%;
}

#node-13 {
    left: 90%;
    top: 38%;
}

#node-14 {
    left: 96%;
    top: 43%;
}

#node-15 {
    left: 98%;
    top: 46%;
}

#node-16 {
    left: -15px;
    top: 90%;

}

#node-17 {
    left: 45%;
    top: 91%;
}

#node-18 {
    left: 90%;
    top: 90%;
}

#node-22 {
    left: -15px;
    top: 97%;
}

#node-19 {
    left: -15px;
    top: 96%;
}

#node-23 {
    top: 98%;
    left: 48.5%;
}

#node-20 {
    top: 96%;
    left: 48%;
}

#node-24 {
    top: 97%;
    left: 98%;
}

#node-21 {
    top: 96%;
    left: 96%;
}

/* in-between lines */
.line-top {
    border-right-width: 5px;
    border-right-color: #000000e3;
    border-right-style: solid;
    width: 51%;
    height: 59%;
    float: left;
    box-sizing: border-box;
    margin-left: 2.5px;
    position: relative;
    bottom: 8.5%;


}

.line-bottom {
    border-right-width: 5px;
    border-right-color: #000000e3;
    border-right-style: solid;
    width: 52%;
    height: 44%;
    position: relative;
    float: left;
    box-sizing: border-box;
    margin-left: 2.5px;

}



.line-right {
    border-top-width: 5px;
    border-top-color: #000000e3;
    border-top-style: solid;
    width: 40%;
    height: 40%;
    position: relative;
    float: right;
    box-sizing: border-box;
    bottom: 10%;
    display: flex;
    margin-left: 25px;

}

.bottom-line {
    border-bottom-width: 5px;
    border-bottom-color: #000000e3;
    border-bottom-style: solid;

}

/* corner line */

/* .vertical-top-left {
    border-right-width: 5px;
    border-right-color: black;
    border-right-style: solid;
    width: 50%;
    height: 58%;
    position: relative;
    float: left;
    box-sizing: border-box;
    margin-left: 2.5px;
    transform: rotate(180deg) translateY(51px) translateX(5px);
} */

/* Player tokens */

/* .player-1 {
    color: #0000ff;
}

.player-2 {
    color: #e45015;
} */


.player-1 .player-id-1 {
    color: #0000ff;
    font-size: 22px;
}

.player-2 .player-id-2 {
    color: #e45015;
    font-size: 22px;
}

.player-1-parts {
    border-radius: 50%;
    background-color: #0000ff;
    border-width: 5px;
    border-style: solid;
    width: 30px;
    height: 30px;
    margin: auto;
    margin-bottom: 3px;

}

.player-2-parts {
    border-radius: 50%;
    background-color: #e45015;
    border-width: 5px;
    border-style: solid;
    width: 30px;
    height: 30px;
    margin: auto;
    margin-bottom: 3px;

}

.buttons {
    margin-top: 50px;
}

/* start button */

.start {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 50px;
    margin-top: 0%;
    animation: blink-start 0.5s 3;
    color: #284df0;
    margin-bottom: 1%;
}

@-webkit-keyframes blink-start {

    0%,
    50% {
        color: rgb(255, 245, 158);
    }
}

/* selected tokens */

.selected {
    animation: blink-node 1s infinite;
}

.selected-mills {
    animation: blink-node 1s 3;
}

/* Alert box */

.messages {
    border-width: 15px;
    border-radius: 20px;
    border-style: solid;
    margin-bottom: 20px;
    color: #bbbfbf;
    padding-top: 0 auto;
}