/* Mhele board css */

body {
    font-family: 'Press Start 2P', cursive;
    min-width: 750px;
}


/*  Navigation */



/* Board */

.rec-outer {
    border-width: 5px;
    border-color: black;
    height: 455px;
    width: 455px;
    border-style: solid;
    box-sizing: border-box;
    position: absolute;
    background:
        linear-gradient(to top left,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(50% - 2.8px),
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 0) calc(50% + 2.8px),
            rgba(0, 0, 0, 0) 100%),
        linear-gradient(to top right,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) calc(50% - 2.8px),
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 0) calc(50% + 2.8px),
            rgba(0, 0, 0, 0) 100%);


}

.rec-middle {
    border-width: 5px;
    border-color: black;
    border-style: solid;
    width: 63%;
    height: 63%;
    position: relative;
    margin: auto;
    top: 19%;
    box-sizing: border-box;
}

.rec-inner {
    border-width: 5px;
    border-color: black;
    border-style: solid;
    width: 48%;
    height: 48%;
    position: relative;
    margin: auto;
    margin-top: 24%;
    box-sizing: border-box;
    background-color: rgb(197, 125, 66);

}

/*game-container*/

.game-wrapper {
    height: 455px;
    width: 455px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
}

/* .pins {
    clear: both;
    padding-top: 20px;
} */

/* input circle*/


.circle {
    position: absolute;
    border-radius: 50%;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    background: #cac7c7;
}

.circle:hover {
    cursor: pointer;
}


#circle-1,
#circle-7 {
    top: -14px;
    left: -15px;
}

#circle-4 {
    top: -18px;
    left: -12px;
}

#circle-2 {
    left: 47.8%;
    top: -17px;
}

#circle-5 {
    left: 46.5%;
    top: -17px;
}

#circle-3 {
    left: 97.5%;
    top: -17px;
}

#circle-6 {
    left: 95%;
    top: -18px;
}

#circle-8 {
    left: 42%;
    top: -18px;
}

#circle-9 {
    left: 89%;
    top: -15px;
}

#circle-10 {
    left: -16px;
    top: 47%;
}

#circle-11 {
    left: -17px;
    top: 44%;
}

#circle-12 {
    left: -18px;
    top: 40%;
}

#circle-13 {
    left: 90%;
    top: 38%;
}

#circle-14 {
    left: 96%;
    top: 43%;
}

#circle-15 {
    left: 98%;
    top: 46%;
}

#circle-16 {
    left: -15px;
    top: 90%;

}

#circle-17 {
    left: 45%;
    top: 91%;
}

#circle-18 {
    left: 90%;
    top: 90%;
}

#circle-22 {
    left: -15px;
    top: 97%;
}

#circle-19 {
    left: -15px;
    top: 96%;
}

#circle-23 {
    top: 98%;
    left: 48.5%;
}

#circle-20 {
    top: 96%;
    left: 48%;
}

#circle-24 {
    top: 97%;
    left: 98%;
}

#circle-21 {
    top: 96%;
    left: 96%;
}

/* in-between lines */
.line-top {
    border-right-width: 5px;
    border-right-color: black;
    border-right-style: solid;
    width: 51%;
    height: 59%;
    float: left;
    box-sizing: border-box;
    margin-left: 2.5px;
    position: relative;
    bottom: 8.5%;


}

.line-bottom {
    border-right-width: 5px;
    border-right-color: black;
    border-right-style: solid;
    width: 52%;
    height: 44%;
    position: relative;
    float: left;
    box-sizing: border-box;
    margin-left: 2.5px;

}

.line-right {
    border-top-width: 5px;
    border-top-color: black;
    border-top-style: solid;
    width: 40%;
    height: 50%;
    position: relative;
    float: right;
    box-sizing: border-box;
    bottom: 10%;

}

.bottom-line {
    border-bottom-width: 5px;
    border-bottom-color: black;
    border-bottom-style: solid;

}

/* corner line */

/* .vertical-top-left {
    border-right-width: 5px;
    border-right-color: black;
    border-right-style: solid;
    width: 50%;
    height: 58%;
    position: relative;
    float: left;
    box-sizing: border-box;
    margin-left: 2.5px;
    transform: rotate(180deg) translateY(51px) translateX(5px);
} */